<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="fbUsername" value="testuser" />
	<parameter name="fbPassword" value="testpassword" />
	<parameter name="whUsername" value="testuser" />
	<parameter name="whPassword" value="testpassword" />
	<parameter name="whReviewURL"
		value="https://wallethub.com/profile/test-insurance-company-13732055i" />
	<parameter name="sampleTxt"
		value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a" />
	<test thread-count="5" name="Test">
		<classes>
			<class name="test_cases.FaceBookLoginTest" />
			<class name="test_cases.VerifyWalletHubReviewFun" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
